
* {
    box-sizing: border-box;
}

body, input, button {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #1abc9c;
  color: #404040;
}

.container {
    width: 50%;
    margin-left: 25%;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
}
h1{
font-family: Pacifico,cursive;
color: #1abc9c;
}

/* .button{
  border: 1px solid #0366EE;
  border-radius: 10px;
  background: #0366EE;
  color: #ffffff;
  font-weight: 600;
   font-size: 1rem;
  padding: .75rem 1.25rem;
  margin: 0 0 .5rem 0;
  text-align: center;
  cursor: pointer;
    line-height: 1; } */

button:hover{
  background: #0b5a4a;
  text-decoration: none; }

button:nth-child(odd):hover{
  background: #a33427;
  text-decoration: none; }

button{
  background: #16a085;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  padding: .75rem 1.25rem;
  margin: 0 0 .5rem 0;
  cursor: pointer;
  line-height: 1; }

  
/* 
textarea {
  overflow: auto;
  height: auto; } */

label {
  font-weight: bolder;
} 
input[type=text]{
  font-weight: 600;
  width: 100%;
  display: block;
  margin: 1rem 0 .5rem; 
  padding: 5px;
  border: 2px solid #16a085;
}

input, select{
  border: 2px solid #16a085
}
.flex-container {
  display: flex;
  margin: 1rem 0 .5rem;
}
.flex-1 {
  width: 80%;
}

table {
  border-spacing: 0;
  width: 100%;
 }

th {
  border-bottom: 2px solid #dedede;
  border-width: 100%;
  text-align: left;
  padding: .5rem;
 }

 tbody > tr {
  color: #065848;
}
td {
  /* color: #257565; */
  border-bottom: 1px solid #dedede;
  text-align: left;
  padding: .5rem;
}
tbody > tr:nth-child(odd) {
  color: #a33427;;
}

.editbtn, .completebtn, .cancelbtn{
  background: #e74c3c;

}

